server {
  port 8795
  log {
    bar "debug"
    file "log.json"
  }
}
customization {
  #false foo
  name "foo"
  css {
    disable_default #true
  }
}

notes {
  max_size "10MB"
  compression "brotli"
  use_encryption #null
}
